html {
    scroll-behavior: smooth;
}
body {
    padding:1rem;
}
svg {

}
 svg path {
    fill:var(--secondary);
    stroke:none
 }
 svg rect {
    fill:var(--highlight-secondary);
    stroke:none
 }
header {
    position: relative;
}
h1 {
    position: relative;
    float:left;
}
h1 strong {
    position:absolute;
    top:-1.5rem;
    right:1rem;
    background: var(--highlight-primary);
    border-radius: var(--radius);
    font-size: 1rem;
    font-weight:normal;
    padding:.25rem .5rem;
    color:var(--secondary);
    font-weight: bold;
}
nav {
    position: absolute;
    bottom:-1rem;
    display:flex;
    align-items:center;
}
nav strong {
    font-weight:normal;
}
nav ul {
    display:flex;
    list-style:none;
    margin: 0 0 0 .5rem;
    background: var(--highlight-secondary);
    border-radius: var(--radius);
    align-items:center;
    padding-left:0 !important;
    
}
nav ul li {
    margin-right:.5rem;
    padding:.25rem .5rem;
    font-weight:bold;
}
nav ul li a {
    color:var(--secondary)
}
main {
    color:var(--secondary)
}
section {
    border-radius: var(--radius);
    position: relative;
}
main > section {
    padding: 1rem;
    margin: 5rem 0 1rem;
    background-color: var(--highlight-secondary);
}

section h2,
footer h2 {
    padding: 1rem;
    position: absolute;
    top: -4.7rem;
    margin-left: -1rem;
    background: var(--highlight-secondary);
    border-radius: var(--radius);
}
section h2 svg,
footer h2 svg {
    position:absolute;
    right:-1rem;
    bottom:10px;
    width:1rem;
    transform:scaleX(-1);
}
footer h2 svg {
    right:0;
    bottom:-1rem;
    transform:scale(1, -1) ;

}
footer h2 svg rect {
    fill:var(--highlight-primary)
}

section:first-of-type h2 {
    width:85%;
}
section h2 + p,
section section > h3 + p {
    font-style: italic;
    background:none;
    margin-bottom: 1rem;
}
section section h3 + p {
    color:var(--primary);
    font-size: .85em;
    padding:0;
}
section section {
    background-color: var(--secondary);
    padding: 1rem 1rem 1rem;
    overflow: hidden;
    margin-bottom:1rem;

}
section h3 {
    color: var(--primary);
    margin: 0 0 .5rem;
    font-weight: normal;
}
section section > * + *:nth-child(3) {
    border-radius:var(--radius) var(--radius) 0 0;
}
section section > * + * {
    display:none;
    background-color:var(--highlight-primary);
    border-radius:none;
    padding:1rem;
    position: relative;
    margin:0
}
section section.active > * + * {
    display:block;
}
section section * + *:last-child {
    border-radius:0 0 var(--radius) var(--radius);
}

ul, ol {
    padding-left:2rem !important;
}

dl {
    display:flex;
    flex-wrap:wrap;
}
dt {
    width:25%;
    margin-right: .5rem;
}
dd {
    width:60%;
    margin:0;
    font-weight: bold;
}

footer {
    background-color: var(--highlight-primary);
    padding:1rem;
    color:var(--secondary);
    border-radius:0 var(--radius)  var(--radius)  var(--radius) ;
    position: relative;
}
footer h2 {
    background-color: var(--highlight-primary);
    width:30%;
    top:-1.25rem;
    left:calc(-30% + 1rem);
    border-radius: var(--radius) 0 0  var(--radius) 
}

footer a {
    color:var(--secondary);
    text-decoration: underline;
    display:block;
}

footer a:hover,
footer ul a:hover {
    text-decoration: none;
}
footer dl,
footer ul{
    border:2px solid var(--secondary);
    border-radius:var(--radius);
    padding:1rem;
    position: relative;
    margin:0;
    color:var(--secondary)
}
footer ul {
    padding-left:1rem !important;
    list-style:none;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}
footer ul li {
    margin: .25rem 0;
}

footer ul:last-of-type {
    list-style:none;
    padding:.5rem .5rem 1rem !important;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer ul:last-of-type li, 
    footer > a{
    margin:.5rem 0 0 .5rem;
    padding:.25rem .5rem;
    color:var(--primary);
    border-radius:calc(var(--radius) / 2);
    background-color:var(--secondary);
}
footer ul li.active {
    font-weight: bold;
}

footer > a {
    margin-top: 1rem;
    float:left;
    text-decoration: none;
}
footer > a:hover {
    background-color: var(--primary);
    color:var(--secondary   )
}
@media (min-width:40em) {
    body {
        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-gap:1rem
    }
    header {
        grid-column: 1 / -1;
    }
    main {
        grid-column: 1 / 2;
    }
    footer {
        grid-column: 2 / 3;
        align-self: start;
    }
}